<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <title>Jobs</title>
</head>
<body class="container-fluid">
<div class="col-lg-5 mx-auto">

    <section class="row row-cols-2" th:object="${applicant}">
        <h1 class="col-12">Home Here ... Not work</h1>

        <div class="col">
            <img class="img-thumbnail" th:src="${applicant.getImage()}" alt="Photo">
        </div>

        <div class="col">

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input type="text" class="form-control" th:value="${applicant.getName()}" readonly>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Age</span>
                </div>
                <input type="text" class="form-control">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Profession</span>
                </div>
                <input type="text" class="form-control">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Experience</span>
                </div>
                <input type="text" class="form-control">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Telephone</span>
                </div>
                <input type="text" class="form-control">
            </div>

        </div>

    </section>

</div>
</body>
</html>